<% include partials/header %>

  </head>

  <body id="page-top">
    <% include navbar %>
    
  <div style="margin-top: 69px;" id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbarr-nav">
        <li class="nav-item active">
          <a class="nav-link" href="instructions">
            <span>Instructions</span>
          </a>
        </li>
        
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">


          <div class="test-detail">
            <span class="name">Data Structure Test</span>
            <span class="time">Time remaining : </span>
          </div>


          <!-- Area Chart Example-->
          <div style="margin-top:20px;" class="card mb-3">
            <div class="card-header">Instructions</div>
            <div class="card-instructions" style="margin-top:10px;">
              <ul>
                  <li>Do not cheat.</li>
                  <li>Do not change tab.</li>
                  <li>Only one option is correct</li>
              </ul>
            </div>
          </div>

          <div class="start">
              <button type="button" class="btn btn-danger btn-lg btn-block">Start</button>
          </div>

         

        </div>
        <!-- /.container-fluid -->

        

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>

    <% include partials/footer %>
  </body>

</html>
